<div class="navbar orangeback" style="text-align:center;margin:0px;padding:20px;">
    <div class="container-fluid">
        <a href="~/home/about">about us</a>&nbsp;|&nbsp;
        <a href="~/home/contact">contact us</a>&nbsp;|&nbsp;
        <a href="~/home/privacypolicy">privacy policy</a>&nbsp;|&nbsp;
        <a href="~/home/termsofuse">terms of use</a>&nbsp;|&nbsp;
        <a href="~/home/faqs">faqs</a><br />
        <br />
        humans 2015 copyright &copy; all rights reserved
    </div>
    <span id="winsize"></span>
</div>