@{ string url = Request.Url.ToString().ToLower(); }

<div class="navbar navbar-default navbar-fixed-top orangeback">
    <div class="container-fluid">
        <a href="@Url.Content("~/sports/manage")" style="font-size:16px;">
            <div style="display:inline-block;vertical-align:middle;">
                <span class="glyphicon glyphicon-map-marker dimcolor" style="font-size:24px;"></span>
                <div style="width:30px;display:inline-block;">&nbsp;</div>
                <span style="color:#fff;font-size:36px;font-weight:bold;">human<span class="greytext">s.</span></span>
                <div style="width:30px;display:inline-block;">&nbsp;</div>
                <span class="glyphicon glyphicon-comment dimcolor" style="font-size:24px;"></span>
                
                <span id="tagline1">
                    <span style="width:30px;display:inline-block;">&nbsp;</span>
                    <span style="color:#fff;font-size:20px;">who ride.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="greytext" style="font-size:20px;">nearby.</span>
                </span>
            </div>
        </a>
    </div>
</div>