@{
    ViewBag.Title = "Archived Payments";
}

<div style="height:50px;">&nbsp;</div>
<table class="table table-bordered" style="width:95%;margin:auto;">
    <thead>
        <tr>
            <th>From</th>
            <th>Date</th>
            <th>Services</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div><a href="~/account/myprofile?id=1"><img src="~/profilepics/profilepic_bill_gates.jpg" style="height:35px;" /></a></div>
                <div>Bill Gates</div>
                <div>Redmond, Wa</div>
            </td>
            <td>Saturday, May 10th 2015 9:00pm CST</td>
            <td><a href="~/requests/completed">Service Request #2309</a></td>
            <td>$60.00</td>
        </tr>
    </tbody>
</table>