@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Forgot Password";
}

@{
    if(TempData["Msg"] != null){
        <div class="alert alert-info text-center"><h2>@Html.Raw(TempData["Msg"])</h2></div>
    }
}

<div style="height:50px;">&nbsp;</div>
<div class="panel panel-default" style="width:400px;height:250px;margin:auto;padding:0px;">
    <div class="panel-heading" style="background-color:#ff901d;color:#fff;">
        <h4>Password Reset</h4>
    </div>
    <div class="panel-body">
        <section id="loginForm">
            <p>&nbsp;</p>
            <p>Please provide your email address, to reset your password.</p>
            <p>&nbsp;</p>

            <form method="post">
                Email: <input type="text" name="email" />
                <input type="submit" value="Reset" />
            </form>
        </section>
    </div>
</div>
<div style="height:350px;">&nbsp;</div>